@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }

.tabbrowser-tab:not([pinned]) {
	max-width: 32767px !important;
	min-width: 5px !important;
}

.tabbrowser-tab:not([fadein]) {
	max-width: 1px !important;
	min-width: 1px !important;
	max-width: 1px;
	min-width: 1px;
}

.closing-tabs-spacer {
	width: 0 !important;
}

/*don't wimp out on tab width*/
#tabbrowser-tabs {width:100% !important;}

/* MAIN TOOLBAR AND BOOKMARKS TOOLBAR MODIFICATIONS */
/* Transparent toolbars */
#main-window[lwthemetextcolor="bright"] #navigator-toolbox > #nav-bar, 
#main-window[lwthemetextcolor="bright"] #navigator-toolbox > #PersonalToolbar {
	background-color: transparent !important;
	background-image: none !important;
}
/* Remove top border of main toolbar */
#nav-bar {
	box-shadow: none !important;
	border-top: none !important;
}

:root{--toolbar-height:24px !important;}
/*#TabsToolbar{-moz-box-ordinal-group:2}*/
#TabsToolbar,#menubar-items,#toolbar-menubar,#nav-bar,#toolbar-context-menu
#TabsToolbar[movingtab],#menubar-items[movingtab],#toolbar-menubar[movingtab],#nav-bar[movingtab],#toolbar-context-menu[movingtab]{
	height:var(--toolbar-height) !important;
  /*position:relative;*/
}

#toolbar-menubar{padding:0;z-index:0;pointer-events:none;height:var(--toolbar-height) !important}
#menubar-items{pointer-events: auto}
/*#back-button,#forward-button,#reload-button,#new-tab-button,
#history-menu,#undo-close-tab-buttons-single_codefisher_org-browser-action
{z-index:5 !important;}*/
/*#forward-button{margin-right:300px;}*/
#navigator-toolbox{background-color:var(--chrome-secondary-background-color)}

#nav-bar,#nav-bar[movingtab]{
	margin:calc(-2.5 * var(--toolbar-height)) 0px calc(1.5 * var(--toolbar-height)) 300px;
	padding: 0px 0px 0px 0px !important;
	/*z-index: 0 !important;*/
	/*margin-left:calc(36px + 4 * var(--toolbarbutton-inner-padding) + 4 * var(--toolbarbutton-outer-padding));*/
}

#TabsToolbar,#TabsToolbar[movingtab]{
	margin,padding,border:0px 0px 0px 0px !important;
	height: var(--toolbar-height) !important;
	z-index: 0 !important;
}

/* Override vertical shifts when moving a tab (9 Jan 2018) */
#TabsToolbar[movingtab] {
	padding-bottom: 0 !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
#TabsToolbar[movingtab] + #nav-bar {
	margin-top: 0 !important;
}


/* hide tab bar with only 1 tab */

/*#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
min-height: 0 !important;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
visibility: collapse;
}*/

/* I don't use tabs so I just hide the new tab button. You should be able to use a similar trick as the rule above with
css siblings selectors if you want to keep it when the tab bar is visible. */
#tabbrowser-tabs .tabs-newtab-button {
visibility: collapse !important;
}

#tabbrowser-tabs tab {
min-height: var(--tab-min-height)
}